body::before {
  display: block;
  content: "";
  height: 25px;
}

#buttonPaars {
  color: black;
  background-color: #ac80ff;
  border: none;
}

#arrowUpPaars,
#linkPaars {
  color: #ac80ff;
  text-decoration: none;
}

.anchor1 {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.anchor2 {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}