{
    "arrowParens": "always",
    "braceStyle": "1tbs",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": true,
    "phpVersion": "8.2",
    "plugins": ["@prettier/plugin-php", "prettier-plugin-organize-attributes"],
    "printWidth": 120,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleAttributePerLine": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "trailingCommaPHP": false,
    "useTabs": false,
    "vueIndentScriptAndStyle": false
}
